body{ 
    background-color: rgb(255, 211, 228);
    background-image: url(./imgs/clouds.png);
    background-size: 5%;
    background-repeat:repeat-x;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 96, 128);
    
}

.heading-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
}

.container img {
    max-height: 53vh;
    margin: 0% 2%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    color: rgb(255, 96, 128);
}

.footer p {
    margin: 0;
    text-align: center;
}